<%- include("partials/header.ejs") %>

<div class="about-container">
    <h1>About Us</h1>
        
    <div class="brief-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut natus officiis deserunt, est laborum sit ducimus rerum ipsum nostrum doloribus. Maxime fuga facilis incidunt aliquam perspiciatis alias enim velit. Laudantium, accusantium unde quod recusandae facere aspernatur totam ad fugit itaque similique quaerat nihil et possimus. Quaerat soluta veritatis adipisci accusantium autem, aliquid ipsa iste facilis voluptatibus vitae voluptatum, provident natus minima cupiditate numquam tenetur ab a in sequi blanditiis ratione aspernatur. Iste ipsum ipsam, consequuntur magnam alias deleniti reiciendis saepe vitae sapiente incidunt. Laboriosam consequatur repellendus officiis quae animi iste! Error enim assumenda necessitatibus fugit cupiditate at. Enim, culpa impedit!
        </p>
    </div>
</div>

<%- include("partials/footer.ejs") %>